body.wp-fullscreen-editor *
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#fullscreen-overlay
{
	background: #fff url("background.png") repeat !important;
	background-size: auto;
}