/* Outer fullscreen background */
#fullscreen-overlay
{
	background: white url("paper_fibers.png") !important;
	background-size: auto;
}

/* Set inner MCE panel to be transparent */
div.mce-panel
{
	background: transparent !important;
}

/* Title & Styles inside DFWM editor*/
.wp-fullscreen-active .wp-fullscreen-title
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}