/* Outer fullscreen background */
#fullscreen-overlay
{
	background: #021122 url("background.jpg") no-repeat center center fixed !important;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Border around title and post content */
.wp-fullscreen-active.wp-dfw-show-ui .wp-fullscreen-title,
.wp-fullscreen-active.wp-dfw-show-ui .wp-editor-container
{
	border-color: white !important;
}

/* Title */
.wp-fullscreen-active .wp-fullscreen-title
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 1.7em !important;
	font-weight: bold !important;
	color: white !important;
}

/* Styles inside DFWM editor */
html.wp-fullscreen body#tinymce
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #F8F8F2 !important;
}

/* Set inner MCE panel to be transparent */
div.mce-panel
{
	background: transparent !important;
}

/* Status bar background, not focused */
.wp-fullscreen-active #wp-fullscreen-statusbar
{
	background-color: #272822 !important;
}

/* Status bar focused (At bottom) */
.wp-fullscreen-active.wp-dfw-show-ui #wp-fullscreen-statusbar
{
	background-color: #021122 !important;
	border-top: 1px #021122 !important;
}

/* Word count (bottom) */
#wp-fullscreen-count
{
	color: white !important;
}

/* Tagline (bottom) */
#wp-fullscreen-tagline
{
	color: white !important;
}