body.wp-fullscreen-editor *
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: white !important;
	background: transparent !important;
}

.fullscreen-active,
#wp-fullscreen-body,
#fullscreen-overlay
{
	/** remove for now while testing bg image
	background: #000 !important;
	**/
}

#wp-fullscreen-body input[type=text],
#wp-fullscreen-body textarea,
#wp-fullscreen-body #wp-fullscreen-title-prompt-text
{
	/**
	font: 15px "Courier New", Courier, monospace, sans-serif !important;
	**/
	color: white !important;
}

/** Bg picture 
.fullscreen-active, #wp-fullscreen-body, #fullscreen-overlay
**/
/**#wp-fullscreen-body**/
/** body.fullscreen-active **/
#fullscreen-overlay
{
	background: #021122 url("background.jpg") no-repeat center center fixed !important;
	
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/**
	background-size: 100% 100%;
 	width:100%;
    height:100%;
    **/
}

#wp-fullscreen-count
{
	margin-top: 10px;
	color: white !important;
}

#wp-fullscreen-tagline
{
	margin-top: 10px;
	color: white !important;
}