/* Fullscreen background */
#fullscreen-overlay
{
	background-color: #f3f2ec !important;
}

/* Title */
.wp-fullscreen-active .wp-fullscreen-title
{
	font-family: "Courier New", Courier, monospace !important;
	font-size: 1.7em !important;
	font-weight: bold !important;
	color: #6c645b !important;
}

/* Inside editor */
html.wp-fullscreen body#tinymce
{
	font-family: "Courier New", Courier, monospace !important;
	font-size: 16px !important;
	color: #6c645b !important;
}

/* Word count */
#wp-fullscreen-count
{
	color: #6c645b !important;
}

/* Tagline */
#wp-fullscreen-tagline
{
	color: #6c645b !important;
}